/*Global*/
*
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    text-align: center
    background-color: $rojo
    color: $negro
    font-size: 16px
    font-family: 'Open Sans', Arial, sans-serif

h1,h2
    color: $blanco   

a 
    text-decoration: none
    color: $rojo
    &:hover
        text-decoration: underline
    