/*Main*/

main
    padding: 2rem
    #subtitle
        margin-bottom: 1rem
    #img-div
        margin: 0 auto
        padding: 2rem
        width: 100%
        height: auto
        img
            width: 100%
            border-radius: 3%
        #img-caption
            padding-top: 1rem
    #tribute-info
        blockquote
            font-style: italic    
    .box
        background-color: $blanco
        border-radius: 3%